.main-container{
    background-color:#a05d31;
    position: relative;
}

.nbar{
    background-color: #cfa67c;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    border: #3c2e27 2px solid;
}
.nbarRight{
    display: flex;
    justify-content: space-between;
}
.dd-btn{
    background-color: #cfa67c;
    border: 0;
    cursor: pointer;
    margin-left: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    height: 100%;
    width: 150px;
}

.dd-logo{
    height: 35px;
    width: 35px;
}

.SearchBar{
    border: 0;
    background-color: #cfa67c;
    color: #3c2e27;
    font-weight:bold;
    outline: none;
    border-bottom: #3c2e27 2px solid;
    /* border-bottom: 2px solid #3c2e27;     */
    margin-bottom: 1rem;
    height: 50%;
    width: 20%;
    margin-top: 2rem;
    font-size: large;
}

.SearchBar::placeholder{
    color: #3c2e27;
    opacity: 1;
}

.LogS-btn{
    background-color: #cfa67c;
    color: #3c2e27;
    font-weight: bold;
    font-size: large;
    border: 0;
    margin-right: 2rem;
    cursor: pointer;
}
.cart-btn{
    background-color: #cfa67c;
    border: 0;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
.cart-logo{
    height:50px ;
    width: 50px;
}

.hide{
    display: none;
}

.DDMenu{
    width: 20vw;
    height: 90vh;
    background-color: #cfa67c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: #3c2e27 2px solid;
    position: absolute;
}

.ddmenubtn{
    height: 5vh;
    background-color: #cfa67c;
    color: #3c2e27;
    border: 0;
    text-align:left;
    /* padding-left: 1rem; */
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    border-bottom: #3c2e27 2px solid;
    margin-left: 1rem;
}

.OffersMain{
    width: 100%;
    height: 70vh;
    border: #3c2e27 2px solid;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: end;
}

.Offer{
    width: 100%;
    height: 100%;
}

.Slider-Btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 3vh;
    position: absolute;
    cursor: pointer;
    background: none;
    outline: none;
    border: 0;
}

.bb{
    background-color: #eee4d0;
    height: 30vh;
    width: 30vw;
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
    border: #3c2e27 2px solid;
    cursor: pointer;
    position: relative;
}

.Books{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eee4d0;
}

.image{
    border: #3c2e27 2px solid;
    height: 100%;
    width: 40%;
}

.book-Dets{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 3rem;
}

.Title{
    color: #a05d31;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3rem;
    font-size: large;
    font-weight: bold;
}

.Author{
    color: #a05d31;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price{
    color: #a05d31;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.add-btn{
    background-color:#eee4d0;
    color: #a05d31;
    border: 0;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.poster{
    height: 100%;
    width: 100%;
}

.SN{
    height: 10vh;
    background-color: #eee4d0;
    border:#3c2e27 2px solid;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.navBarDiv{
    position: fixed;
    color: #3c2e27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 2;
}
.nav-fix{
    background-color: #cfa67c;
    z-index: 2;
    width: 20%;
    margin-right: 4rem;
    height: auto;
}

.Sopt{
    word-wrap: break-word;
    cursor: pointer;
    border-bottom: 1px solid #3c2e27;
}
.menu-add-btns{
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}
.book-type-fix{
    background-color: #a05d31;
    color: #eee4d0;
}

.Categories{
    background-color: #eee4d0;
    color: #3c2e27;
    outline: none;
    border: 0;
    font-size: large;
    font-weight: bold;
    box-shadow: #a05d31;
    margin-top: 1rem;
    margin-right: 2rem;
}

.Categories:hover{
    border: #3c2e27 2px solid;
    border-radius: 5px;
}