*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-con-register{
    background-color: #a05d31;
    position: relative;
}

.containers-register{
    min-height: 100vh;
    background-color: #a05d31;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Mid-register{
    border: 1px solid #eee4d0;
    width: 50%;
    height: 85vh;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.Login-cover-register{
    width: 50%;
    height: 100%;
}

.Right-Container-register{
    width: 50%;
    height: 100%;
    background-color: #cfa67c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Right-Container-register input{
    padding: 0.5rem;
    background-color: #eee4d0;
    border: 1px solid #eee4d0;
    outline: none;
    border-radius: 20px;
    width: 70%;
    margin: 0.5rem;
}

.Right-Container-register button{
    background-color: #3c2e27;
    outline: none;
    border: 1px solid #eee4d0;
    border-radius: 20px;
    width: 50%;
    height: 10%;
    color: #eee4d0;
    font-size: large;
    cursor: pointer;
    margin: 1rem;
    font-weight: bold;
}

.Right-Container-register button:hover{
    background-color: #cfa67c;
    color: #3c2e27;
    border: 1px solid #3c2e27;
}

.Right-Container-register h3{
    color: #3c2e27;
    font-weight: bold;
}

.back-log-btn{
    background-color: #cfa67c;
    color: #3c2e27;
    border: 1px solid #3c2e27;
}